.main {
  height: 60vh;
  width: 100vw;
  /* background-position: center; */
  background-size: cover;
  /* opacity: 0.5; */
  background-color: brown;
}

.text_part {
  padding: 10rem 0;
  text-align: center;
  color: white;
  width: 100vw;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 5rem;
}

.sub_title {
  font-size: 1.2rem;
}
