.main {
  height: 60vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-color: rgb(124, 118, 79);
  background-blend-mode: multiply;
  opacity: 0.9;
}

.text_part {
  padding: 10rem 0;
  text-align: center;
  color: white;
  width: 100vw;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.title::after {
  content: "";
  width: 100px;
  position: absolute;
  bottom: 0;
  border: 2px solid black;
}

.sub_title {
  font-size: 1.2rem;
}
